body {
	margin-left: 15%;
	margin-right: 15%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrong {
	color: red;
}

.right {
	color: #19963c;
}

.justify-text {
	text-align: justify;
}

.exception {
	color: #ff0000;
}

.center-text {
	text-align: center;
}

.button {
	background-color: #e7e7e7; 
	color: black;
	padding: 15px 20px;
	border: none;
	font-size: 15px;
	text-decoration: none;
}

.button-disabled {
	background-color: #f4f4f4; 
	color: #b2b2b2;
	padding: 15px 20px;
	border: none;
	font-size: 15px;
	text-decoration: none;
}