<!DOCTYPE html>
<html> 
	<head>
		<meta charset="ISO-8859-1"> 
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<title>Liferay Questions</title>
	</head>
	<body>
		
		<div>
			<h3>Results</h3>
		</div>
		<div>
			<h4>Questions answered: $questionsNum</h4>
			<span class="right"><b>Right answers: $totalRight<b></span>
			<span><b> | <b></span>
			<span class="wrong"><b>Wrong answers: $totalWrong<b></span>
		</div>
		<div>	
			#if($rightPercentage < 75)
				#set($percentageClass = "wrong")
			#else
				#set($percentageClass = "right")
			#end
			<span><b>Right answers percentage:</b></span>
			<span class=$percentageClass><b> $rightPercentage% <b></span>
		</div>
		<br>
		<div>
			<form action="/newSession" method="POST">
				<input class="button" type="submit" value="START A NEW SESSION"/>
			</form>
		<div>
	</body>
<html>